.aside-cart li:hover a{
    color:var(--yellow-text)!important;
}
article
{
    background-image: url("../img/")!important ; 
   background-size: cover;
}
article #cart-search{
    box-shadow: 5px 5px 5px 5px grey;
   
}
#cart-search .cart-img-height{
    height: 300px!important;
    object-fit: cover;
}
